/* Home page Styles */
@import url("sources-2020.css");

/* ************************************************** */
/* General Styles for Header, Footer, and UI Elements */
/* ************************************************** */

/* ***** colors ****** */
:root {
  --primary-color: #b40000;
  --secondary-color: #007bfe;
  --title-color: #1c1c1c;
  --gray-text: #4e4e4e;
  --dark-text: #333;
  --clear-gray: rgba(0, 0, 0, 0.1);
}

body {
  margin: 0;
  font-family: sans-serif;
}

h1 {
  font-size: 2rem;
  font-weight: 700;
  line-height: 1;
  margin: 0 0 .5rem 0;
  text-shadow: 2px 3px 6px rgba(0, 0, 0, 0.2);
}

* h3 {
  margin: 0;
  font-weight: 500;
  font-size: 1.25rem;
}

* h4 {
  font-family: serif;
  color: var(--title-color);
  text-align: center;
  font-size: 2.5rem;
  margin: .25rem 0;
}

* a {
  text-decoration: none;
  cursor: pointer;
}

* ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.container-fluid {
  padding: 1rem 2rem;
}

.container {
  padding: 1.5rem;
  margin: 0 3rem;
}

.divider {
  width:100%;
  height: 0;
  border-bottom: 1px solid var(--clear-gray);
}

.bold-title {
  font-size: 1.25rem;
  font-weight: bolder;
  margin: 1.5rem 0;
}

.chip {
  height: 1.75rem;
  background-color: var(--clear-gray);
  border-radius: 1rem;
  font-size: .875rem;
  font-weight: 500;
  line-height: 1.25rem;
  text-decoration: inherit;
  text-transform: inherit;
  display: -ms-inline-flexbox;
  display: inline-flex;
  position: relative;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
  cursor: pointer;
  overflow: hidden;
  justify-content: center;
  padding: .45rem .75rem;
  margin: .25rem;
  transition: background-color .2s, box-shadow .2s;
  text-align: center;
}

.link-button {
  color: white;
  font-size: .875rem;
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
  background-color: var(--secondary-color);
  border-radius: 3px;
  border: 1px solid var(--secondary-color);
  margin: .5rem;
  padding: .75rem 1rem;
  white-space: nowrap;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.link-button.sm {
  margin: 0;
  padding: .35rem;
}

.link-button:hover {
  background: #0069d9;
  border-color: #0069d9;
}

/* ******************** */
/* Black Top Navigation */
/* ******************** */

.top-navigation {
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 0rem 1rem;
}

.top-navigation > .date {
  flex: 2;
}

.top-navigation > .date > span {
  font-size: .75rem;
  align-self: center;
}

.social-links {
  display: flex;
  flex: 1;
  color: white;
  margin: 0;
}

.social-links > ul {
  display: flex;
  flex-basis: 100%;
  justify-content: space-between;
  margin: .25rem 0;
}

.social-link {
  align-self: center;
  padding: .5rem;
  cursor: pointer;
  transition: 0.2s;
}

.social-link > a > i {
  font-size: 1rem;
  color: white;
}

.social-link:hover {
  background-color: rgba(255, 255, 255, 0.25);
  border-radius: 4px;
}

.social-link > a.item {
  font-size: .875rem;
  font-weight: lighter;
  color: white;
  display: flex;
  align-items: center;
}

.language {
  width: 20px;
  height: 18px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: .5rem;
}

.fab, .fas {
  font-size: 1.25rem;
}

/* *********** */
/* Navbar menu */
/* *********** */

.navbar {
  background-color: var(--primary-color);
  display: flex;
  align-items: center;
}

.navbar a {
  color: white;
}

.navbar-controls {
  display: flex;
  align-items: center;
}

.navbar .icon, .navbar-list .mobile-icon {
  color: white;
  display: none;
}

.sticky {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 10;
}

.logo {
  width: 5rem;
  height: auto;
  object-fit: contain;
  padding: 1rem;
}

ul.navbar-list {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin: 0;
}

.dropdown {
  position: relative;
  display: inline-block;
  color: white;
}

.dropdown-option {
  height: 100%;
  display:flex;
  align-items: center;
}

.dropdown-option .fa-angle-down {
  margin-left: .5rem;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  width: max-content;
  padding: .25rem 0;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  border-radius: 5px;
  z-index: 1;
}

.dropdown-content a {
  font-size: .875rem;
  color: black;
  justify-content: start;
  padding: .65rem;
  display: flex;
}

.dropdown-content a:hover {
  background-color: #e6e6e6;
  transition: .3s;
}

li.dropdown:hover .dropdown-content {
  display: block;
}

/* ************** */
/* Big Search bar */
/* ************** */

section.search-sources {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.black-filter {
  width: 100%;
  background: rgba(0, 0, 0, 0.3);
}

.search-sources-bg {
  width: 100%;
  height: 15rem;
  background-position: center;
  background-size: cover;
  position: relative;
  background-repeat: no-repeat;
  filter: alpha(opacity=80); /* For IE8 and earlier */
  object-fit: cover;
  z-index: -5;
  display: flex;
}

.search-sources-content {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: .5rem;
}

.search-sources-title > p {
  font-size: 1rem;
  margin: 0;
}

.search-sources-title {
  text-align: center;
}

.search-form {
  width: 100%;
  margin: 1rem 0;
}

form {
  display: flex;
  align-items:baseline;
}

.search-form > form > input[type="text"] {
  width: 100%;
  height: 2rem;
  padding: .5rem .75rem .5rem 3rem;
  margin-right: 1rem;
  border-radius: 30px;
  border: 1px solid #eaedf2;
  font-size: .85rem;
  font-weight: 400;
  outline: none;
  box-shadow: 0 0 .8rem 0 rgba(0,0,0,.2);
}

.search-icon {
  position: relative;
  left: 2.55rem;
  margin-right: .5rem;
  color: var(--dark-text);
  font-size: 1rem;
}

::placeholder {
  color: gray;
  opacity: 1;
}

.search-btn {
  background-color: var(--primary-color);
  color: white;
  padding: .75rem 1.5rem;
  border-radius: 100px;
  border: 2px solid white;
  margin-right: 1rem;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5;
  cursor: pointer;
  outline: none;
}

.search-btn:hover {
  background-color: #9b0303;
}

.search-btn:focus {
  box-shadow: 0 0 1px 3px #e30404;
}

.search-options > span {
  font-size: .875rem;
  line-height: 1.25rem;
  margin-right: .5rem;
}

.option-btn {
  background-color: white;
  display: inline-block;
  border: 1px solid white;
  font-size: .875rem;
  font-weight: 500;
  color: black;
  border-radius: 3px;
  padding: .5rem .75rem;
  margin: .25rem;
  text-align: center;
  cursor: pointer;
}

.option-btn:hover {
  background-color: #e5e5e5;
  border-color: #e5e5e5;
  transition: .5s;
}

.option-btn > i {
  margin-right: .25rem;
  color: var(--primary-color);
}

/* ****** */
/* Footer */
/* ****** */

footer {
  background-color:var(--dark-text);
  color: white;
}

.footer-item {
  margin: 1rem .5rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-logo > img {
  width: 8rem;
}

.footer-menu {
  display: flex;
  flex-wrap: wrap;
  
}

.footer-links > li > a {
  color: white;
  line-height: 1.888;
  font-size: 1rem;
}

.footer-social-links {
  display: flex;
}

.email-contact, .phone-contact {
  line-height: 1.888;
}

b.list-header {
  font-size: 1rem;
  display: block;
  margin-bottom: 1rem;
  text-transform: uppercase;
}

.copyright {
  font-size: .875rem;
  background-color: black;
  padding: .5rem;
}

.copyright > span {
  text-align: center;
  display: block;
}

/* ***************************************** */
/* Sources Select Resources (Featured pages) */
/* ***************************************** */

.featured-info {
  border-left: 3px solid var(--secondary-color);
  padding-left: .5rem;
  margin-bottom: 2rem;
 }
 
 .featured-info > .paragraph {
   line-height: 2;
   color: var(--gray-text);
   text-align: justify;
   hyphens: auto;
 }
 
 .featured-info .paragraph a { 
   font-weight: bolder;
   color: var(--secondary-color);
 }
 
 .select-resources-lists {
   display: flex;
 }
 
 .select-resources-lists .card.links-list:first-child {
   margin-right: 1rem;
 }

/* ******************** */
/* Blue List of links */
/* ******************** */

.links-list {
  width: 100%;
  padding: 0;
  margin: 0;
}

.item-link {
  display: flex; 
}

.item-link:nth-child(odd) { 
  background-color: rgb(241, 244, 255); 
  transition: .3s; 
}

.item-link a {
  width: 100%;
  height: 100%;
  padding: 1rem 1rem 1rem .25rem;
  display: flex;
  align-items: center;
}

.item-link .item-link-icon {
  margin-right: 1rem;
  color: var(--secondary-color);
  width: 15px;
  height: 15px;
  background-color: aliceblue;
  border-radius: 50px;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.item-link  .item-link-end-icon {
  margin-left: auto;
  color: var(--secondary-color);
}

.item-link-label {
  font-size: 1rem;
  font-weight: 700;
  color: var(--dark-text);
  margin-right: 1rem;
}

/* ******************************************************************* */
/* *************************** MEDIA QUERIES ************************* */
/* ******************************************************************* */

/* Phone screen size */
@media only screen and (max-width: 375px) {
  .card.page {
    flex: 1 1 100%;
    margin: .5rem 0;
  }

  .search-sources-title > p {
    display: none;
  }

  .panel {
    margin: 1rem 0;
  }

  .directory-footer, .directory-footer span {
    flex-direction: column;
  }

  .directory-footer span {
    margin-bottom: .25rem;
  }

}

@media only screen and (min-width: 610px) and (max-width: 768px) { 
  .column-2.media { 
    flex-direction: row;
    display: flex;
    margin-top: 1rem;
  }
}

/* Tablet screen size */
@media (max-width: 768px) {
  .container {
    margin: 0;
  }

  .container, .indispensable-directory, .container-fluid {
    padding: 1rem;
  }

  .chip {
    font-size: .75rem;
  }

  * h4 {
    font-size: 1.75rem;
  }

  .subtitle {
    font-size: 1rem;
  }

  .date, .search-btn {
    display: none;
  }

  .search-form > form > input[type="text"] { 
    margin-right: 1.5rem;
  }

  .main-wrapper {
    flex-direction: column;
  }

  .card-media-title, .card-media-date {
    white-space: unset;
  }

  .panel-header {
    flex-direction: column;
    justify-content: normal;
  }

  .benefits-for-members {
    flex-direction: column;
    padding: 1rem 0 !important;
  }

  .as-a-member {
    font-size: 1rem;
    margin: 0;
  }

  .benefits-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .benefits-list {
    margin: 0;
  }

  .benefits-list > li {
    font-size: .875rem;
    margin: 1rem 0;
  }

  .find-out-more {
    flex-direction: row;
  }

  .directory-wrapper {
    flex-direction: column;
    align-items: center;
  }

  .directory-content {
    flex-direction: column;
    align-items: center;
  }

  .select-resources-lists {
    flex-direction: column;
  }

}

/* Medium screen size */
@media screen and (max-width: 991px) {
  .navbar .navbar-list {
    display: none;
  }

  .navbar a.icon {
    float: right;
    display: block;
    margin-left: auto;
    padding: 1rem;
  }
  
  .navbar.responsive {
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    width: 100%;
    height: -webkit-fill-available;
    flex: 1;
    z-index: 10;
    overflow-y: scroll;
    overflow: scroll;
      -webkit-overflow-scrolling: touch;
  }

  .navbar.responsive .item.dropdown .dropdown-content {
    display: contents;
  }

  .dropdown-option {
    background-color: rgba(0, 0, 0, 0.3);
    padding: 1rem 0.5rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  }
  
  .dropdown-option .fa-angle-down {
    display: none;
  }

  .dropdown-content a:hover {
    background: none;
  }
 
  .navbar.responsive .item.dropdown .dropdown-content a { 
    color: white;
  }

  .navbar a {
    justify-content: flex-start;
    color: white;
  }

  .navbar.responsive .icon {
    position: relative;
    right: 0;
    top: 0;
  }

  .navbar.responsive .navbar-list {
    display: flex;
    flex-direction: column;
    text-align: left;
  }

  .navbar-controls {
    width: 100%;
  }

  .navbar-list .mobile-icon {
    padding: 0 .5rem;
    display: block;
  }
}