/* Sources & Resources */

.main-wrapper {
  display: flex;
}

.main-title {
  margin-bottom: 2rem;
}

.column-1 {
 flex: 2;
}

/* Media and Calendar Events Column 2 */
.column-2 {
  flex: 1;
}

/* Card element */
.featured-pages {
  display: flex;
  flex-wrap: wrap;
}

.card.page {
  flex: 1 1 calc(29.99%);
  margin: .5rem;
  margin: 0 .5rem .5rem .5rem;
  display: flex;
  flex-direction: column;
  border: 1px solid rgb(230, 230, 230);
  background: white;
  border-radius: .25rem;
  text-decoration: none;
  color: black;
  transition: 0.3s;
}

.card.page:hover {
  box-shadow: 0 0 .8rem 0 rgba(0,0,0,.2);
}

.card-header > img {
  width: 100%;
  border-top-left-radius: .25rem;
  border-top-right-radius: .25rem;
  display: flex;
}

.card-body {
  padding: .5rem;
}

.card-body > .paragraph {
  color: var(--gray-text);
  font-size: .875rem;
  line-height: 1.444;
}

.title {
  display: block;
  background: var(--primary-color);
  color: white;
  padding: .5rem;
  text-align: center;
  font-size: .875rem;
  font-weight: bolder;
}

/* Panel Element */

.panel {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: .25rem;
  margin: 0 .5rem 1rem;
  background-color: white;
  display: flex;
  flex-wrap: wrap;
}

.panel-header {
  width: 100%;
  padding: .5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.panel-title {
  white-space: nowrap;
  margin-right: .5rem;
}

.panel-body {
  width: 100%;
}

.panel-footer {
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
  font-size: .875rem;
  align-self: flex-end;
}

.panel-footer > a {
  padding: 1rem;
  display: block;
  color: gray;
}

.fa-plus-circle {
  font-size: 1rem;
  margin-right: .25rem;
}

/* Card Media */

.card {
  width: 100%;
  height: auto;
  border: 1px solid #ebeef6;
  border-radius: 4px;
  box-shadow: -1px -1px 9px 3px rgba(235,238,246,0.71);
}

.card-media {
  display: flex;
  padding: .5rem;
  font-size: .80rem;
  border-bottom: 1px solid rgba(204, 204, 204, 0.49);
  color: black;
}

.card-media-header {
  display: flex;
  flex-direction: column;
  align-self: center;
  flex: 1;
  margin-right: .5rem;
}

.card-media-header > img {
  height: 100%;
  object-fit: cover;
}

.card-media-body {
  flex: 3;
}

.card-media-body > p {
  color: var(--gray-text);
  font-size: .875rem;
  margin: .25rem 0;
  line-height: 1.444;
}

.card-media-text {
  display: flex;
}

.card-media-title {
  font-weight: bolder;
  margin-right: .5rem;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.card-media-date {
  font-size: .65rem;
  margin-left: auto;
  text-align: center;
  background-color: transparent;
  color: rgb(87, 86, 86);
  border-radius: 11px;
  padding:.25rem;
  white-space: nowrap;
  border: 1px solid rgb(214, 214, 214);
}

.calendar-event-date > span {
  display: block;
  color: var(--dark-text);
}

.calendar-event-date > span.number {
  font-size: 2.5rem;
  font-weight: 700;
  text-align: center;
}

.calendar-event-date > span.month {
  text-align: center;
  text-transform: uppercase;
}

/* Get Sources Working for you */
.sources-for-you {
  background-color: rgba(234, 237, 237, 0.3);
}

.sources-for-you .benefits-list > li {
  font-size: 1rem;
  line-height: 2;
  display: flex;
  align-items: center;
}

.sources-for-you-title {
  font-size: 2rem;
}

.subtitle {
  color: var(--gray-text);
  font-size: 1.5rem;
  line-height: 1.444;
  text-align: center;
  display: block;
  margin: .25rem 0;
}

.sources-for-you > .benefits-for-members {
  display: flex;
  justify-content: space-evenly;
}

.as-a-member {
  color: var(--gray-text);
  font-weight: bolder;
  font-size: 1.5rem;
  display: block;
  margin-bottom: 1rem;
}

.fa-check-circle {
  font-size: 1.5rem;
  color: #00d164;
  font-weight: 500;
  margin-right: .5rem;
}

.find-out-more {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Media Names and Directory */

.directory-wrapper {
  max-width: 50rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  box-shadow: 0 0 .8rem 0 rgba(0,0,0,.2);
  background-color: aliceblue;
  /* 
  border: 1px solid aliceblue; */
}

.directory-content {
  display: flex;
  padding: 1rem;
}

.directory-footer {
  height: auto;
  background: rgba(0, 123, 253, 0.3);
  display: flex;
  padding: .5rem 1rem;
  align-items: center;
  justify-content: flex-end;
  justify-content: center;
}

.directory-footer span {
  display: flex;
  font-size: .875rem;
  align-items: center;
}

.directory-footer span i{
  color: var(--dark-text);
  margin-right: .25rem;
}

.directory-wrapper img {
  max-width: 13rem;
  max-height: 18rem;
  margin-right: 1rem;
}

.benefits-list li {
  font-size: 1rem;
  line-height: 2;
  align-items: baseline;
  margin-bottom: .25rem;
}

.fa-check {
  font-size: 1rem;
  color: var(--secondary-color);
  margin-right: .5rem;
}
