
body {
  margin: 0;
  font-family: sans-serif;
}

* a {
  text-decoration: none;
}

* ul {
  list-style: none;
  padding: 0
}

* h4 {
  text-align: center;
  font-size: 2rem;
}

/* Social nav */
.nav.social-links {
  background-color: #b40000;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
}

.nav > ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-self: center;
  color: white;
}

.nav > ul > li {
  padding: 0 .5rem;
}

li.language {
  margin: auto 0;
}

.nav > ul > li > a {
  color: white;
}

.logo {
  width: 10rem;
  height: auto;
  cursor: pointer;
}

.fab, .fas {
  font-size: 2rem;
}

/* Navbar Menu */

.navbar {
  overflow: hidden;
  background-color: #333;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: black;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
  border-radius: .25rem;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #f8f9fa;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* Search Sources */

h1 {
  font-size: 4.5rem;
  font-weight: 700;
  line-height: 1;
  margin: 2rem 0;
}

.search-sources-title > p {
  font-size: 1.25rem;
  margin: 0;
}

section.search-sources {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 0;
}

.search-sources-title {
  text-align: center;
}

.search-form {
  margin: 3rem 0 1rem 0;
}

.search-form > form > input[type="text"] {
  width: 580px;
  height: 2.375rem;
  padding: 1rem;
  border-radius: .1875rem;
  border: 1px solid #eaedf2;
  font-size: 1.5rem;
  font-weight: 400;
  margin-right: 1rem;
  outline: none;
}

::placeholder {
  color: #aaacb1;
  opacity: 1; /* Firefox */
}

.search-btn {
  background-color: #b40000;
  color: white;
  padding: 1.1875rem 2.25rem;
  border-radius: 100px;
  border: 1px solid #b40000;
  font-size: 1.25rem;
  line-height: 1.5;
  cursor: pointer;
  outline: none;
}

.search-btn:hover {
  background-color: #9b0303;
}

.search-btn:focus {
  box-shadow: 0 0 1px 3px #e30404;
}

.search-options {
  margin-top: 1rem;
}

.search-options > span {
  font-size: .875rem;
  line-height: 1.25rem;
  margin-right: .5rem;
}

.option-btn {
  background-color:#b40000;
  font-size: .875rem;
  font-weight: 500;
  color: white;
  border-radius: 100px;
  padding: .5rem .75rem;
  margin: .25rem;
  text-align: center;
  cursor: pointer;
}

.option-btn:hover {
  background-color: #9b0303;
}

/* Page items */

section.main-wrapper {
  padding: 2rem 4rem;
  display: flex;
}

/* Featured Pages Column */
.column-1 {
 flex: 2;
}

/* Media and Calendar Events Column */
.column-2 {
  flex: 1;
}

/* Card element */
.featured-pages {
  display: flex;
  flex-wrap: wrap;
}

.card.page {
  flex: 0 1 calc(33.3333% - 20px);
  margin: 1rem 1rem 0 0;
  display: flex;
  flex-direction: column;
  border: 1px solid rgba(204, 204, 204, 0.18);
  border-radius: .25rem;
  text-decoration: none;
  color: black;
  box-shadow: 0 0 .8rem 0 rgba(0,0,0,.1);
}

.card.page > .card-header > img {
  width: 100%;
  height: auto;
}

.card.page > .card-body {
  text-align: center;
  padding: .5rem;
}

.text > .title, .paragraph {
  display: block;
}

.title {
  font-size: 1.5rem;
  font-weight: bolder;
  margin-bottom: .5rem;
}

/* Panel Element */

.panel {
  border: 1px solid rgba(204, 204, 204, 0.49);
  border-radius: .25rem;
  margin-bottom: 1rem;
  box-shadow: 0 0 .8rem 0 rgba(0,0,0,.1);
}

.panel-header {
  padding: .25rem .75rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  border-bottom: 1px solid rgba(204, 204, 204, 0.49);
  background-color: rgba(128, 128, 128, 0.18);
}

.btn {
  border: 1px solid #007bff;
  color: white;
  background-color:#007bff;
  border-radius: .2rem;
  text-align: center;
  padding: .25rem .5rem;
  vertical-align: middle;
  line-height: 1.5;
  cursor: pointer;
  font-weight: 400;
  font-size: .875rem;
  margin: .25rem 0;
}

.btn.lg {
  padding: .75rem 1rem;
  margin: .45rem 0;
}

.btn:hover {
  background-color: #0068d9;
  border-color: #0068d9;
}

.fa-pen, .fa-calendar-alt {
  font-size: 1rem;
  margin-right: .25rem;
}

/* Card Media */

.card-media {
  display: flex;
  padding: .35rem .75rem;
  font-size: .875rem;
  border-bottom: 1px solid rgba(204, 204, 204, 0.49);
  color: black;
}

.card-media-header {
  flex: 1;
  margin-right: .5rem;
}

.card-media-header > img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-media-body {
  flex: 2;
}

.card-media-body > p {
  margin: .25rem 0;
}

.card-media-text {
  display: flex;
}

.card-media-title {
  font-weight: bolder;
}

.card-media-date {
  margin-left: auto;
}

.calendar-event-date > span {
  display: block;
  color: #333333;
}

.calendar-event-date > span.number {
  font-size: 2.5rem;
  font-weight: 700;
  text-align: center;
}

.calendar-event-date > span.month {
  text-align: center;
  text-transform: uppercase;
}

/* Get Sources Working for you */
.sources-for-you, .indispensable-directory {
  padding: 2rem 4rem;
}

.sources-for-you-title{
  font-size: 2rem;
}

.subtitle {
  font-size: 1.5rem;
}

h4, .subtitle {
  text-align: center;
  display: block;
  margin: 1rem 0;
}

.sources-for-you > .benefits-for-members {
  display: flex;
  justify-content: space-around;
  padding: 2rem 0;
}

.as-a-member {
  font-weight: bolder;
  font-size: 1.5rem;
}

.fa-check-circle {
  font-size: 1.5rem;
  color: green;
  font-weight: 500;
}

.find-out-more {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
/* Media Names and Directory */

.directory {
  display: flex;
  padding: 2rem 0;
}

.directory-secondary-title {
  font-weight: bolder;
  font-size: 1.25rem;
}

.col {
  flex: 1;
}

.directory-img > img {
  width:100%;
  height: auto;
}